.feed_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 150px;
    background-color: #8080801a;
}
.feed_components{
    display: flex;
    margin-top: 0px;
    margin-right: 400px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 70%;
}
.feed_top{
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding-bottom: 15px;
    padding:15px;
}
.feed_top > form {
    flex: 1;
    display: flex;
}
.feed_top >form > input{
    outline-width: 0;
    border: none;
    padding: 5px 20px;
    margin: 0 10px;
    border-radius: 999px;
    background-color: #eff2f5;
}
.feed_top >form > button{
    display: none;
}
.feed_top > svg {
    font-size: x-large;
}
.feed_input{
    flex: 1;
}
.feed_bottom{
    display: flex;
    justify-content: space-evenly;
}
.feed_option{
    padding: 20px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
}
.feed_option > h6{
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}
.feed_option:hover{
    background-color: #eff2f5;
    border-radius: 20px;
}